<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sbzze.travelfriend.mapper.AlbumMapper" >
  <resultMap id="BaseResultMap" type="com.sbzze.travelfriend.entity.Album" >
    <constructor >
      <idArg column="id" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="type" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="type_id" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="albumname" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="introduction" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="count" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="cover" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <select id="findAlbumByTypeIdAndAlbumName" resultType="com.sbzze.travelfriend.entity.Album">
      SELECT * FROM album
      where
      type_id=#{typeId} and albumname=#{albumname}
    </select>
</mapper>