<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sbzze.travelfriend.mapper.AlbumFileMapper" >
  <resultMap id="BaseResultMap" type="com.sbzze.travelfriend.entity.AlbumFile" >
    <constructor >
      <idArg column="id" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="album_id" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="type" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="address" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="compress_address" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>

</mapper>